In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [ ]:
from google.colab import drive 
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
def q25(x):
    return x.quantile(0.5)


def q50(x):
    return x.quantile(0.5)

def q75(x):
    return x.quantile(0.75)

In [ ]:
alerts = pd.read_csv('gdrive/My Drive/DS DSLS/aggregate_alerts_Kota Cirebon.csv')
irregularities = pd.read_csv('gdrive/My Drive/DS DSLS/aggregate_median_irregularities_Kota Cirebon.csv')
jams = pd.read_csv('gdrive/My Drive/DS DSLS/aggregate_median_jams_Kota Cirebon.csv')

In [ ]:
alerts.shape

(674, 9)

In [ ]:
irregularities.shape

(166, 16)

In [ ]:
jams.shape

(17600, 13)

In [ ]:
alerts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 674 entries, 0 to 673
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         674 non-null    int64
 1   time                       674 non-null    object
 2   kemendagri_kabupaten_kode  674 non-null    float64
 3   kemendagri_kabupaten_nama  674 non-null    object
 4   street                     649 non-null    object
 5   type                       674 non-null    object
 6   avg_location               674 non-null    object
 7   total_records              674 non-null    int64
 8   date                       674 non-null    object
dtypes: float64(1), int64(2), object(6)
memory usage: 47.5+ KB

In [ ]:
alerts.sample(2)

,id,time,kemendagri_kabupaten_kode,kemendagri_kabupaten_nama,street,type,avg_location,total_records,date
184,6032049,2022-07-27 12:00:00.000,32.74,KOTA CIREBON,Kenduruan,WEATHERHAZARD,"[108.568808, -6.717094999999991]",59,2022-07-27
74,5978353,2022-07-16 13:00:00.000,32.74,KOTA CIREBON,N14 Jenderal Sudirman,JAM,"[108.54711300000004, -6.7407179999999975]",24,2022-07-16

In [ ]:
dg1 = alerts.groupby('street')

In [ ]:
## group metrics
fun1 = ['count', np.mean, np.std, q25, q50, q75]
fun1_dict = {}
col_f1 = ['street']
for cols in ['total_records']:
    fun1_dict[cols] = fun1
    for met in ['cnt','avg','std', 'p25', 'p50','p75']:
        col_f1.append(cols+'_'+'alerts'+'_'+met)
        
loc_f1 = dg1.agg(fun1_dict).reset_index()
loc_f1.columns = col_f1

In [ ]:
loc_f1.sample(3)

,street,total_records_alerts_cnt,total_records_alerts_avg,total_records_alerts_std,total_records_alerts_p25,total_records_alerts_p50,total_records_alerts_p75
32,N14 Jenderal Sudirman,33,19.939394,10.571008,21.0,21.0,30.00
40,Pilang Raya,9,16.888889,10.902344,25.0,25.0,26.00
52,Taman Ade Irma Suryani,2,15.500000,7.778175,15.5,15.5,18.25

In [ ]:
irregularities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166 entries, 0 to 165
Data columns (total 16 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   time                       166 non-null    object
 1   kemendagri_kabupaten_kode  166 non-null    float64
 2   kemendagri_kabupaten_nama  166 non-null    object
 3   street                     166 non-null    object
 4   jam_level                  166 non-null    int64
 5   median_length              166 non-null    float64
 6   median_delay_seconds       166 non-null    float64
 7   median_regular_speed       166 non-null    float64
 8   total_records              166 non-null    int64
 9   cause_type                 0 non-null      float64
 10  median_seconds             166 non-null    float64
 11  median_speed               166 non-null    float64
 12  date                       166 non-null    object
 13  median_jam_level           166 non-null    float64
 14  id                         166 non-null    int64
 15  geometry                   166 non-null    object
dtypes: float64(8), int64(3), object(5)
memory usage: 20.9+ KB

In [ ]:
dg2 = irregularities.groupby('street')

In [ ]:
## group metrics
fun2_1 = ['count', np.mean, np.std, q25, q50, q75]
fun2_1_dict = {}
col_f2_1 = ['street']
for cols in  ['median_length','median_delay_seconds', 'median_regular_speed', 'total_records', 'median_seconds', 'median_speed', 'median_jam_level'] :
    fun2_1_dict[cols] = fun2_1
    for met in ['cnt','avg','std', 'p25', 'p50','p75']:
        col_f2_1.append(cols+'_'+'irr'+'_'+met)
        
loc_f2_1 = dg2.agg(fun2_1_dict).reset_index()
loc_f2_1.columns = col_f2_1

In [ ]:
loc_f2_1.sample(3)

,street,median_length_irr_cnt,median_length_irr_avg,median_length_irr_std,median_length_irr_p25,median_length_irr_p50,median_length_irr_p75,median_delay_seconds_irr_cnt,median_delay_seconds_irr_avg,median_delay_seconds_irr_std,...,median_speed_irr_std,median_speed_irr_p25,median_speed_irr_p50,median_speed_irr_p75,median_jam_level_irr_cnt,median_jam_level_irr_avg,median_jam_level_irr_std,median_jam_level_irr_p25,median_jam_level_irr_p50,median_jam_level_irr_p75
2,Dr Sutomo,1,514.00,NaN,514.0,514.0,514.0,1,579.000,NaN,...,NaN,2.6200,2.6200,2.62,1,4.0,NaN,4.0,4.0,4.0
12,Perjuangan,5,896.60,237.794659,1031.0,1031.0,1031.0,5,496.300,54.149792,...,1.145840,5.9300,5.9300,5.98,5,3.6,0.547723,4.0,4.0,4.0
16,Siliwangi,4,769.75,132.258270,724.0,724.0,784.0,4,432.125,314.544214,...,3.912246,6.9425,6.9425,9.86,4,3.5,0.577350,3.5,3.5,4.0

In [ ]:
jams.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17600 entries, 0 to 17599
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   time                       17600 non-null  object
 1   kemendagri_kabupaten_kode  17600 non-null  float64
 2   kemendagri_kabupaten_nama  17600 non-null  object
 3   street                     17460 non-null  object
 4   level                      17600 non-null  int64
 5   median_length              17600 non-null  float64
 6   median_delay               17600 non-null  float64
 7   median_speed_kmh           17600 non-null  float64
 8   total_records              17600 non-null  int64
 9   id                         17600 non-null  int64
 10  date                       17600 non-null  object
 11  median_level               17600 non-null  float64
 12  geometry                   17600 non-null  object
dtypes: float64(5), int64(3), object(5)
memory usage: 1.7+ MB

In [ ]:
dg3 = jams.groupby('street')

In [ ]:
## group metrics
fun3_1 = ['count', np.mean, np.std, q25, q50, q75]
fun3_1_dict = {}
col_f3_1 = ['street']
for cols in  ['median_length','median_delay', 'median_speed_kmh', 'total_records', 'median_level'] :
    fun3_1_dict[cols] = fun3_1
    for met in ['cnt','avg','std', 'p25', 'p50','p75']:
        col_f3_1.append(cols+'_'+'jams'+'_'+met)
        
loc_f3_1 = dg3.agg(fun3_1_dict).reset_index()
loc_f3_1.columns = col_f3_1

In [ ]:
loc_f3_1.sample(3)

,street,median_length_jams_cnt,median_length_jams_avg,median_length_jams_std,median_length_jams_p25,median_length_jams_p50,median_length_jams_p75,median_delay_jams_cnt,median_delay_jams_avg,median_delay_jams_std,...,total_records_jams_std,total_records_jams_p25,total_records_jams_p50,total_records_jams_p75,median_level_jams_cnt,median_level_jams_avg,median_level_jams_std,median_level_jams_p25,median_level_jams_p50,median_level_jams_p75
115,Pekalipan,66,367.969697,60.261027,362.0,362.0,421.0,66,137.477273,70.645727,...,9.016173,9.0,9.0,12.00,66,3.318182,0.469340,3.0,3.0,4.0
93,N1 Kasunean,83,713.108434,169.295456,806.0,806.0,806.0,83,93.939759,67.968536,...,4.009173,7.0,7.0,9.00,83,2.325301,0.645971,2.0,2.0,3.0
146,Stadion Bima,22,403.204545,193.080520,367.0,367.0,514.0,22,145.386364,83.770937,...,4.147967,6.0,6.0,9.75,22,3.000000,0.816497,3.0,3.0,4.0

In [ ]:
jams_target = jams[['date', 'time', 'street', 'geometry', 'level']]

Merge Feature

In [ ]:
feature = [loc_f1, loc_f2_1, loc_f3_1]

In [ ]:
df_all = jams_target.copy()
for d in feature:
    df_all = pd.merge(df_all, d, on = 'street', how = 'left')

In [ ]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17600 entries, 0 to 17599
Data columns (total 83 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   date                          17600 non-null  object
 1   time                          17600 non-null  object
 2   street                        17460 non-null  object
 3   geometry                      17600 non-null  object
 4   level                         17600 non-null  int64
 5   total_records_alerts_cnt      16013 non-null  float64
 6   total_records_alerts_avg      16013 non-null  float64
 7   total_records_alerts_std      15498 non-null  float64
 8   total_records_alerts_p25      16013 non-null  float64
 9   total_records_alerts_p50      16013 non-null  float64
 10  total_records_alerts_p75      16013 non-null  float64
 11  median_length_irr_cnt         12836 non-null  float64
 12  median_length_irr_avg         12836 non-null  float64
 13  median_length_irr_std         11010 non-null  float64
 14  median_length_irr_p25         12836 non-null  float64
 15  median_length_irr_p50         12836 non-null  float64
 16  median_length_irr_p75         12836 non-null  float64
 17  median_delay_seconds_irr_cnt  12836 non-null  float64
 18  median_delay_seconds_irr_avg  12836 non-null  float64
 19  median_delay_seconds_irr_std  11010 non-null  float64
 20  median_delay_seconds_irr_p25  12836 non-null  float64
 21  median_delay_seconds_irr_p50  12836 non-null  float64
 22  median_delay_seconds_irr_p75  12836 non-null  float64
 23  median_regular_speed_irr_cnt  12836 non-null  float64
 24  median_regular_speed_irr_avg  12836 non-null  float64
 25  median_regular_speed_irr_std  11010 non-null  float64
 26  median_regular_speed_irr_p25  12836 non-null  float64
 27  median_regular_speed_irr_p50  12836 non-null  float64
 28  median_regular_speed_irr_p75  12836 non-null  float64
 29  total_records_irr_cnt         12836 non-null  float64
 30  total_records_irr_avg         12836 non-null  float64
 31  total_records_irr_std         11010 non-null  float64
 32  total_records_irr_p25         12836 non-null  float64
 33  total_records_irr_p50         12836 non-null  float64
 34  total_records_irr_p75         12836 non-null  float64
 35  median_seconds_irr_cnt        12836 non-null  float64
 36  median_seconds_irr_avg        12836 non-null  float64
 37  median_seconds_irr_std        11010 non-null  float64
 38  median_seconds_irr_p25        12836 non-null  float64
 39  median_seconds_irr_p50        12836 non-null  float64
 40  median_seconds_irr_p75        12836 non-null  float64
 41  median_speed_irr_cnt          12836 non-null  float64
 42  median_speed_irr_avg          12836 non-null  float64
 43  median_speed_irr_std          11010 non-null  float64
 44  median_speed_irr_p25          12836 non-null  float64
 45  median_speed_irr_p50          12836 non-null  float64
 46  median_speed_irr_p75          12836 non-null  float64
 47  median_jam_level_irr_cnt      12836 non-null  float64
 48  median_jam_level_irr_avg      12836 non-null  float64
 49  median_jam_level_irr_std      11010 non-null  float64
 50  median_jam_level_irr_p25      12836 non-null  float64
 51  median_jam_level_irr_p50      12836 non-null  float64
 52  median_jam_level_irr_p75      12836 non-null  float64
 53  median_length_jams_cnt        17460 non-null  float64
 54  median_length_jams_avg        17460 non-null  float64
 55  median_length_jams_std        17413 non-null  float64
 56  median_length_jams_p25        17460 non-null  float64
 57  median_length_jams_p50        17460 non-null  float64
 58  median_length_jams_p75        17460 non-null  float64
 59  median_delay_jams_cnt         17460 non-null  float64
 60  median_delay_jams_avg         17460 non-null  float64
 61  median_delay_jams_std         17413 non-null  float64
 62  median_delay_jams_p25         17460 non-null  float64
 63  median_delay_jams_p50         17460 non-null  float64
 64  median_delay_jams_p75         17460 non-null  float64
 65  median_speed_kmh_jams_cnt     17460 non-null  float64
 66  median_speed_kmh_jams_avg     17460 non-null  float64
 67  median_speed_kmh_jams_std     17413 non-null  float64
 68  median_speed_kmh_jams_p25     17460 non-null  float64
 69  median_speed_kmh_jams_p50     17460 non-null  float64
 70  median_speed_kmh_jams_p75     17460 non-null  float64
 71  total_records_jams_cnt        17460 non-null  float64
 72  total_records_jams_avg        17460 non-null  float64
 73  total_records_jams_std        17413 non-null  float64
 74  total_records_jams_p25        17460 non-null  float64
 75  total_records_jams_p50        17460 non-null  float64
 76  total_records_jams_p75        17460 non-null  float64
 77  median_level_jams_cnt         17460 non-null  float64
 78  median_level_jams_avg         17460 non-null  float64
 79  median_level_jams_std         17413 non-null  float64
 80  median_level_jams_p25         17460 non-null  float64
 81  median_level_jams_p50         17460 non-null  float64
 82  median_level_jams_p75         17460 non-null  float64
dtypes: float64(78), int64(1), object(4)
memory usage: 11.3+ MB

In [ ]:
df_all.to_csv('gdrive/My Drive/DS DSLS/data.csv',index = False)